@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout";
}

<div class="text-center" >
    <div class="borderpane" id="home-borderpane">
         <h1 class="display-4">Welcome to DBS</h1>
    </div>
    <div id="home-text">
        <p>The Desk Booking System (DBS), is a platform ACME corporation has implemented for the transition plan of working from home to working back at the office. </p>
        <p>This platform allows you to easily booking a place for working at the office.</p>
        <p>Search and reserve your favorite place with the resources you need.</p>
        <p>Need Double Monitor? or a Standing Desk?, select these choices when you book your desk.</p>
        <p>Thanks for the cooperation!</p>

    </div>
    
</div>
